<!DOCTYPE html>
<html>
  <head>
    <title>BookShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navbar navbar-expand-lg navbar-light" style="background: #e9ecef">
    <div class="container"> 
      <a class="navbar-brand" href="<%= root_path %>">Book Share</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if current_user.present? %>
           <li class="nav-item <%= 'active' if current_page?(root_path) %>">
            <%= link_to "Home", root_path, :class => 'nav-link'  %>
          </li>
          <li class="nav-item <%= 'active' if current_page?(users_path) %>">
            <%= link_to "Users", users_path, :class => 'nav-link'  %>
          </li>
          <li class="nav-item <%= 'active' if current_page?(offers_path) %>">
            <%= link_to "List Of Offers", offers_path, :class => 'nav-link'  %>
          </li>
          <% end %>
        </ul>
        <div class="form-inline my-2 my-lg-0">
          <% if user_signed_in? %>
        Logged in as <strong class="ml-1"><%= current_user.username %></strong>.
        <%= link_to 'Dashboard', dashboard_index_url, :class =>  "btn btn-outline-dark mr-1 ml-1" %>
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'btn btn-outline-primary mr-1 ml-1' %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-outline-danger'  %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-outline-success mr-2'  %>
          <%= link_to "Login", new_user_session_path, :class => 'btn btn-outline-primary'  %>
        <% end %>
        </div>
      </div>
    </div>
  </nav>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12">
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
      </div>
    </div>
  </div>
    <%= yield %>

  <%= javascript_pack_tag 'welcome', 'data-turbolinks-track': 'reload' %>

  </body>
</html>
